:root {
    --primary-color: #13385f;
    --secondary-color: #6c757d;
    --text-color: #333;
    --text-contrast: #fff;
    --bg-light: #f8f8f8;
    --bg-dark: #7fa0c0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--bg-dark);
    color: var(--text-contrast);
}

.logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.logo img {
    width: auto;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--text-contrast);
    font-weight: bold;
}

nav a.active {
    text-decoration: underline;
}

nav a:hover {
    color: var(--primary-color);
}

#menuBtn {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--text-contrast);
}

/* Cards */
#cards.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#cards.list {
    display: block;
}

.card {
    border: 1px solid var(--bg-dark);
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    background: var(--bg-dark);
}

.card img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
}

.view-buttons {
    margin: 1rem;
    text-align: center;
}

.view-buttons button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background: var(--bg-dark);
        position: absolute;
        top: 100px;
        right: 5px;
        padding: 1rem;
    }

    nav ul.open {
        display: flex;
    }

    #menuBtn {
        display: block;
    }
}